<p id="notice"><%= notice %></p>

<p>
  <strong>Recipient:</strong>
  <%= @folder.recipient_id %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @folder.parent_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @folder.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @folder.type %>
</p>

<%= link_to 'Edit', edit_folder_path(@folder) %> |
<%= link_to 'Back', folders_path %>
