<%= form_for(@attachement) do |f| %>
  <% if @attachement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attachement.errors.count, "error") %> prohibited this attachement from being saved:</h2>

      <ul>
      <% @attachement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :application_id %><br>
    <%= f.number_field :application_id %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
