<p id="notice"><%= notice %></p>

<h1>Listing Attachements</h1>

<table>
  <thead>
    <tr>
      <th>Application</th>
      <th>Content</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attachements.each do |attachement| %>
      <tr>
        <td><%= attachement.application_id %></td>
        <td><%= attachement.content %></td>
        <td><%= attachement.name %></td>
        <td><%= link_to 'Show', attachement %></td>
        <td><%= link_to 'Edit', edit_attachement_path(attachement) %></td>
        <td><%= link_to 'Destroy', attachement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attachement', new_attachement_path %>
