<p id="notice"><%= notice %></p>

<p>
  <strong>Application:</strong>
  <%= @attachement.application_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @attachement.content %>
</p>

<p>
  <strong>Name:</strong>
  <%= @attachement.name %>
</p>

<%= link_to 'Edit', edit_attachement_path(@attachement) %> |
<%= link_to 'Back', attachements_path %>
