<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @application.user_id %>
</p>

<p>
  <strong>Hl degree:</strong>
  <%= @application.hl_degree %>
</p>

<p>
  <strong>Hld date:</strong>
  <%= @application.hld_date %>
</p>

<p>
  <strong>Address:</strong>
  <%= @application.address %>
</p>

<p>
  <strong>State:</strong>
  <%= @application.state %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @application.institution_id %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
