<%= form_for(@message_copy) do |f| %>
  <% if @message_copy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message_copy.errors.count, "error") %> prohibited this message_copy from being saved:</h2>

      <ul>
      <% @message_copy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recipient_id %><br>
    <%= f.number_field :recipient_id %>
  </div>
  <div class="field">
    <%= f.label :message_id %><br>
    <%= f.number_field :message_id %>
  </div>
  <div class="field">
    <%= f.label :folder_id %><br>
    <%= f.number_field :folder_id %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
