<p id="notice"><%= notice %></p>

<h1>Listing Message Copies</h1>

<table>
  <thead>
    <tr>
      <th>Recipient</th>
      <th>Message</th>
      <th>Folder</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @message_copies.each do |message_copy| %>
      <tr>
        <td><%= message_copy.recipient_id %></td>
        <td><%= message_copy.message_id %></td>
        <td><%= message_copy.folder_id %></td>
        <td><%= message_copy.state %></td>
        <td><%= link_to 'Show', message_copy %></td>
        <td><%= link_to 'Edit', edit_message_copy_path(message_copy) %></td>
        <td><%= link_to 'Destroy', message_copy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message copy', new_message_copy_path %>
