<p id="notice"><%= notice %></p>

<p>
  <strong>Recipient:</strong>
  <%= @message_copy.recipient_id %>
</p>

<p>
  <strong>Message:</strong>
  <%= @message_copy.message_id %>
</p>

<p>
  <strong>Folder:</strong>
  <%= @message_copy.folder_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @message_copy.state %>
</p>

<%= link_to 'Edit', edit_message_copy_path(@message_copy) %> |
<%= link_to 'Back', message_copies_path %>
