<%= form_for(@client_profile) do |f| %>
  <% if @client_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client_profile.errors.count, "error") %> prohibited this client_profile from being saved:</h2>

      <ul>
      <% @client_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :cellphone %><br>
    <%= f.text_field :cellphone %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.text_field :age %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
