<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @client_profile.country %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @client_profile.cellphone %>
</p>

<p>
  <strong>Age:</strong>
  <%= @client_profile.age %>
</p>

<%= link_to 'Edit', edit_client_profile_path(@client_profile) %> |
<%= link_to 'Back', client_profiles_path %>
