<%= form_for(@coordinator_profile) do |f| %>
  <% if @coordinator_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coordinator_profile.errors.count, "error") %> prohibited this coordinator_profile from being saved:</h2>

      <ul>
      <% @coordinator_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :institution_id %><br>
    <%= f.number_field :institution_id %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.number_field :level %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
