<p id="notice"><%= notice %></p>

<h1>Listing Coordinator Profiles</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Institution</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coordinator_profiles.each do |coordinator_profile| %>
      <tr>
        <td><%= coordinator_profile.user_id %></td>
        <td><%= coordinator_profile.institution_id %></td>
        <td><%= coordinator_profile.level %></td>
        <td><%= link_to 'Show', coordinator_profile %></td>
        <td><%= link_to 'Edit', edit_coordinator_profile_path(coordinator_profile) %></td>
        <td><%= link_to 'Destroy', coordinator_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coordinator profile', new_coordinator_profile_path %>
