<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @coordinator_profile.user_id %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @coordinator_profile.institution_id %>
</p>

<p>
  <strong>Level:</strong>
  <%= @coordinator_profile.level %>
</p>

<%= link_to 'Edit', edit_coordinator_profile_path(@coordinator_profile) %> |
<%= link_to 'Back', coordinator_profiles_path %>
