<p id="notice"><%= notice %></p>

<p>
  <strong>Institution:</strong>
  <%= @course.institution_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @course.deadline %>
</p>

<p>
  <strong>Language:</strong>
  <%= @course.language %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @course.fee %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @course.duration %>
</p>

<p>
  <strong>Level:</strong>
  <%= @course.level %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
